# Node.js
node_modules/
dist/

# Python
back/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb

# Environnements et secrets
back/.env

# Fichiers système
.DS_Store

# Logs
*.log

# Fichiers temporaires et sauvegardes
*.swp
*.swo
*.bak
*.tmp

# Éditeurs
.vscode/
.idea/

# Node logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Données et fichiers spécifiques au projet
API_CONTRACT.md
data
docs/